{% load render_bundle from webpack_loader %}

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>Joggr</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
        {% render_bundle 'app' 'css' %}

    </head>

    <body>
        <div id="root">
            <app v-cloak></app>
        </div>

        {% render_bundle 'manifest' 'js' %}
        {% render_bundle 'vendor' 'js' %}
        {% render_bundle 'app' 'js' %}
    </body>
</html>
